{{#partial "head"}}
{{{stylesheet '/assets/css/theme.css'}}}

{{> components/common/header }}

{{{ checkout.checkout_head }}}
{{{ stylesheet '/assets/css/optimized-checkout.css' }}}
{{ getFontsCollection }}

<script type="text/javascript">
    window.language = {{{langJson 'optimized_checkout'}}};
    var subtotal = '{{ cart.sub_total.value }}';
    var grandtotal = '{{ cart.grand_total.value }}';
</script>

{{{head.scripts}}}

{{/partial}}

{{#partial "page"}}

{{{ checkout.checkout_content }}}

{{{ footer.scripts }}}

{{/partial}}

{{> layout/empty}}
